auth.json
settings.json
my_own_auth.json
hit_modes.json
history.csv
model/results/
*.synctex.gz
*.aux
*.log
*.bbl
*.blg
reading/
.Rproj.user
conference/cogsci2017/abstract_rmd/politeness.pdf
conference/cogsci2017/abstract_rmd/politeness.tex
production-results/
anonymized-results-key.csv
anonymize_workerids.py
