*.json
auth.json
settings.json
my_own_auth.json
model/results/
*.synctex.gz
*.aux
*.log
*.bbl
*.blg
reading/
.Rproj.user
conference/cogsci2017/abstract_rmd/politeness.pdf
conference/cogsci2017/abstract_rmd/politeness.tex
production-results/
